@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
                                                         // mixins
@mixin back{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin flexy{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@mixin stylee{
  font-weight: 700;
  line-height: normal;
  color: #FFF;
}